In [ ]:
# 아마 세세분류까지는 의도에 따라 오차가 있을거 같으니까 # 한단계 윗단계로 적용하기

In [ ]:
'''
모델링 적용 데이터 만들때 고려할 것
1. 건설사의 도급원가 케이스에서 nm_acctit contain 소모품, 교통비 => 고민하다가 일정한 양상 나타날것 같아서 포함하기로 판단
2. 기업은 거래건수 5개 이상으로 필터링
3. 맨 마지막에 gr_name1 unique()으로 항목 확인 
4. gr_name1 자본 일괄 삭제
'''

In [1]:
import os
import pandas as pd
from tqdm import tqdm

In [2]:
listdir=os.listdir('./매입_2019')
listdir.remove('회사')
listdir.sort()
listdir=listdir[1:]

In [3]:
data=pd.read_csv(os.path.join('./매입_2019/',listdir[0]))[['no_com','no_bisocial','ty_mth2','mn_bungae','gr_name1']]
data=data[data['gr_name1']!=('자본'  or '매출' or '기타')] # 매출원가, 도급, 분양, 제조만 남김

In [4]:
data['ty_mth2']=data['ty_mth2'].astype('int')

In [5]:
no_com_list=data['no_com'].unique()

In [6]:
mount={}
vat={}

In [ ]:
'''
dict={사업자주민번호:업종}만들기
deal[2]를 dict로 업종으로 환산하여 mount dict에 넣기
'''

In [7]:
cnt=0
for com in tqdm(no_com_list):
    if len(data[data['no_com']==com])>5:
        this_com=data[data['no_com']==com]
        
        for deal in this_com.values :
   
             # mount
            if deal[0] in mount :
                if deal[1] in mount[deal[0]]:
                    mount[deal[0]][deal[1]]+=deal[3]
                else:
                    mount[deal[0]][deal[1]]=deal[3]
            else:
                mount[deal[0]]={deal[1]:deal[3]}

#             # vat
#             if deal[0] in vat :
#                 if deal[2] in vat[deal[0]]:
#                     vat[deal[0]][deal[2]]+=1
#                 else:
#                     vat[deal[0]][deal[2]]=1
#             else:
#                 vat[deal[0]]={deal[2]:1}
                
            if deal[0] in vat :
                if deal[2] in vat[deal[0]]:
                    vat[deal[0]][deal[2]]+=deal[3]
                else:
                    vat[deal[0]][deal[2]]=deal[3]
            else:
                vat[deal[0]]={deal[2]:deal[3]}

100%|██████████| 1858/1858 [00:52<00:00, 35.67it/s]

mount

In [8]:
pd.options.display.float_format='{:.5f}'.format
df=pd.DataFrame(vat).T
df=df.fillna(0)

df_1=pd.DataFrame(columns=df.columns)
for idx, i in tqdm(zip(df.index,df.values)):
    df_1.loc[idx]=i/sum(i)

510it [00:01, 516.13it/s]/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in true_divide
  import sys
1597it [00:03, 505.13it/s]

In [9]:
df_1

,51,57,52,60,53,58,55,62,61,0,54,63
biz201907290002611,0.99956,0.00044,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
biz201907300001749,0.14678,0.00000,0.84844,0.00478,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
biz201907300003731,0.29702,0.00000,0.00000,0.00000,0.70213,0.00085,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
biz201907300013671,0.91071,0.08929,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
biz201907300014188,0.02994,0.00000,0.00000,0.00000,0.00000,0.00000,0.97006,0.00000,0.00000,0.00000,0.00000,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...
biz202009090013109,0.93387,0.01102,0.05512,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
biz202009110033021,0.23227,0.00000,0.00000,0.00000,0.76449,0.00324,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
biz202009110037846,0.14229,0.09479,0.00000,0.00000,0.72521,0.03736,0.00000,0.00004,0.00031,0.00000,0.00000,0.00000
biz202009110042144,0.90606,0.09394,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
biz202009140027432,0.33898,0.00000,0.74975,0.00000,0.00000,0.00000,-0.08873,0.00000,0.00000,0.00000,0.00000,0.00000

In [ ]:
# 내부 데이터는 삭제하였음

mount

for deal in this_com.values :
    print(deal)
    if deal[0] in mount :
        if deal[1] in mount[deal[0]]:
            mount[deal[0]][deal[1]]+=deal[3]
        else:
            mount[deal[0]][deal[1]]=deal[3]
    else:
        mount[deal[0]]={deal[1]:deal[3]}
        
        
    if deal[0] in vat :
        if deal[2] in vat[deal[0]]:
            vat[deal[0]][deal[2]]+=1
        else:
            vat[deal[0]][deal[2]]=1
    else:
        vat[deal[0]]={deal[2]:1}

In [ ]:
51 과세 45% 중복없음(전부과세)
52 영세 0.5% 중복 두개씩 (영세한 자로써 부가가치세 면제)
53 면세 3% 중복 두개씩 (면세 상품으로써 부가가치세 면세)
54 불공 3% 
55 수입 0.1% 중복 두개인것도 있음 (면세 상품이 포함되어있어서인가..?)
56 금전 -
57 카과 41% 중복없음(전부과세) -> 과세로 편입 (51)
58 카면 1.4% 중복 두개씩 (면세 대상 재화를 카드를 구매하는 경우) -> 면세 편입 (53)
59 -
60 면건 0.02% 무증빙 면세 (한기업이 특이하게 쓰는듯함) -> 면세 편입 (53)
61 현과 2% 중복없음 (과세 재화를 현금으로 구매하는 경우) -> 과세로 편입 (51)
62 현면 0.2% 중복있음 (면세 재화를 현금으로 구매하는 경우) -> 면세 편입 (53)
63 복지 0.7% (한기업이 특이하게 쓰는듯함)
64 매세 -
==========================편입 이후
51 과세
52 영세 -> 영세의 경우 클러스터링에서 제외하는 방법도 있음
53 면세
55 수입
으로 축소해야함